* { margin:0; padding:0; box-sizing: border-box; }

body {
 color:#222;
 font-family:'Didact Gothic', sans-serif;
 font-size:18px;
}
header {
  background:#fff;
  top:0;
  left:0;
  right:0;
  z-index:1;
}
nav a{
  font-size:1em;
  text-decoration: none;
  color: white;
  padding: .5em;
  margin: 0 2em;
}
h1 {
  font-size: 1.5em;
  color: white;
}
h2 {
  font-size: 1.5em;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-weight: bold;
  color: #A0AFB2;
}

#splash p {
  font-size: 3em;
  color: white;
  font-weight: bold;
}
/*#menu {
position: relative;
top: 45px;
border-bottom: .2em solid #fff;
text-align: center;
padding-bottom: .25em;
}*/

.trybox { 
background: #6CAD29;
color: #fff;
display:block;
font-family: 'Satisfy', cursive; 
font-size: 1.25em;
margin:1em auto 0;
padding:.5em 1.5em;
text-decoration: none;
text-align: center;
width:11em;
}
.imagemenu {
  float:left;
  line-height:0;
  width: 33.33%;
  position:relative;
}
.imagemenu img {
 width: 100%;
}
.overlay {
	background:rgba(0,0,0,0);
	color:rgba(255,255,255,0);
	width:100%;
	position:absolute;top:20%;left:0;right:0;
	line-height:1.2em;
}
.imagemenu:hover .overlay {
	background:rgba(0,0,0,.8);
	color:rgba(255,255,255,1);
	transition-duration:.5s;
}
#logo {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 26em;
}
#splash {
background-image: url(../images/background.jpg);
background-size: contain;
height: 60vh;
}

#splash div {
  clear: both;
  margin:0 auto;
  max-width:1200px;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  text-align: center;

}
#splash p { }
#products { }


.wrapper {
	margin:0 auto;
	max-width:66.66em;
}

#fridge{
	width: 50%;
	display:block;
	float:left;
	padding: 0 2em 0 0;
	overflow: auto;
}
#text {
	float: left;
	padding:0 0 0 2em;
	width: 50%;
}








/************
  Hamburgesa
*************/
.mobile-nav {
	/*display:none;*/
}
.menu-btn {
	background:#2170B1;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	padding:1em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 2em;
	height: .25em;
	margin: .25em 0;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important;
	background:#F2666F;
	padding:1em;
}
.responsive-menu ul {
	list-style-type:none;
	font-style: none;
	font-weight: bold;
	color: #fff;
}

/************
   clear
*************/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}


@media only screen and (min-width:401px) and (max-width: 800px) {
	nav{
	    width: 100%;
	    font-size: 1em;
	  }
	.imagemenu img {
	 width: 60%;
	}
}

@media only screen and (max-width: 400px) {
nav {
    width: 100%
  }

nav a{
  margin: 0 1em;
}
h1{
  margin: 5em 0 0 0;
}
 
 .imagemenu img {
 width: 100%;
}

.imagemenu li {
  width: 50%;
}
.trybox { 
font-size: 1.25em;
margin: 3em auto 0;
}
#splash {
height: 40vh;
}

#menu {
position: relative;
top: 0px;
border-bottom: 0;
text-align: center;
padding: 0;
}

#logo {
  margin: 0;
  width: 18em;
}



}
