* { margin:0; padding:0; box-sizing:border-box; }

body {
 color:#222;
 font-family:'Didact Gothic', sans-serif;
 font-size:18px;
}
header {
  background:#fff;
  border-bottom: 3px solid #222;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;
}
nav a{
  font-size:1em;
  text-decoration: none;
  color: white;
  background-color: #946D54 ;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 50px;
}

li {
  float:left;
  width: 50%;
  text-align: center;
  background: white;  
}
.trybox { 
background: #6CAD29;
color: #fff;
display:block;
font-family: 'Satisfy', cursive; 
font-size: 1.25em;
padding:10px 20px;
text-decoration: none;
text-align: center;
width:200px;
}
.imagemenu {
 height:auto;
 width: 50%;
}
#logo {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 480px;
}
#splash {
background-image: url(../images/background.jpg);
background-position: cover;
height:50vh;
}
#splash div {
	margin:0 auto;
	max-width:1200px;
	position:relative;
	top:50%;
	transform: translateY(-50%);
}
#products { }
#products div {
	margin:0 auto;
	max-width:1200px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
