* { margin:0; padding:0; box-sizing: border-box; }

body {
 color:#222;
 font-family:'Didact Gothic', sans-serif;
 font-size:18px;
}

h1 {
  font-size: 1.5em;
  color: black;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}