body{
	text-align: left;
	background: url("images/background.png");
	background-size: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	color: white;
  	font-family: helvetica;
  	font-weight: bold;
  	font-size: 22px;
}


hr {
	width: 100px;
	text-align: left;
}
a {
	text-align: left;
}
