body{
	text-align: left;
  	background: "images/backgroung.jpg";
  	background-size: cover;
  	background-position: center;
  	color: white;
  	font-family: helvetica;
  	font-weight: bold;
  	font-size: 22px}


hr {
width: 100px;

}
a {
text-align: left; ;
}