body{
	text-align: left;
    background: url("http://circuits-assets.generalassemb.ly/prod/asset/3/grand-central.jpg");
    background-size: cover;
  	background-position: center;
  	color: white;
  	font-family: helvetica;
  	font-weight: bold;
  	font-size: 22px}


hr {
width: 100px;
text-align: left;

}
a {
text-align: left; ;
}
