* { margin:0; padding:0; box-sizing:border-box; }
* + * { margin-top:20px; }
body{
	background: url("../images/bar.jpg") no-repeat #5C3200;
	background-size: cover;
  	color: #fff;
	font-family: 'Quicksand', sans-serif, arial;
  	font-size:16px;
}
section {
	margin:200px 0 0 200px;
}
h1{
}
hr {
	border-color: #fff;
	width: 180px;
}
section a {
	border:2px solid #fff;
	color:#fff;
	display:block;
	padding:20px 50px;
	text-decoration: none;
}
	
.bites {
	font-size: 1.62em;
	font-weight: bold;
}
.menu {
	width:65px;
	position:absolute;
	top:50px;
	right:100px;
}
