body{
	background: url("../images/bar.jpg") no-repeat #5C3200;
	background-size: 100%;
  	color: #fff;
  	font-weight: bold;
 
}
h1{

	margin: 70px ;
	padding

}
.bites {
	font-family: 'Quicksand', sans-serif, arial;
	margin: 90px;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
.menu {
	font-family: 'Quicksand', sans-serif, arial;
	font-size: 10px;
	margin: 200px 70px 20px 200px;
	color: #fff;

}

.button{
	margin: 200px 70px 20px 200px;

}

hr {
	border-color:#fff;
	width: 200px;
	margin-left:0;
}